div.v-card {
  margin: 5px;
}
label {
  color: rgba(var(--v-theme-secondary), 1);
}
span.v-chip {
  margin: 2px;
}
div.v-overlay__content {
  background-color: rgba(21, 18, 23, 0.85);
}
div.mosha__toast {
  background: #151217ff !important;
  border: 1px solid rgba(128, 255, 219, 0.5);
  padding-left: 15px;
}
div.mosha__toast__content__text {
  font-family: "Trispace", sans-serif;
  font-size: large;
  color: #ffffffde !important;
  font-variant: petite-caps;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);*/
  -webkit-border-radius: 10px;
  background-color: rgba(var(--v-theme-surface), 1);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(var(--v-theme-secondary), 1);
  -webkit-box-shadow: inset 0 0 6px rgba(var(--v-theme-secondary), 0.1);
}
